<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Lista Usuario SQLite</ion-title>      
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngFor="let user of listUser">
    <ion-item [routerLink]="['/userlist/perfil/userSqlite.id', userSqlite.id]" routerDirection="forward">
      <ion-avatar slot="start">
        <img src="./assets/icon/perfil.png" alt="">
      </ion-avatar>
      <ion-label>
         {{userSqlite.name}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button routerLink="/userlist/new-user" routerDirection="back">Registra Nuevo contacto</ion-button>
</ion-content>
