<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
  
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="https://www.kaspersky.es/content/es-es/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png" alt="qr">
              <!-- <ion-img [src]="https://www.kaspersky.es/content/es-es/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png">0</ion-img> -->
            </ion-col>
          </ion-row>
        </ion-grid>  
  
      <ion-card-content>
        <!-- <ion-button color="light" >camara</ion-button> -->
  
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button routerLink="/userlist" routerDirection="back">CAMARA</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
  
    </ion-card>

</ion-content>
